@model GameStore.Models.Game

@{
    ViewBag.Title = "AddGameInBasket";
}

<h2>AddGameInBasket</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Купить", "AddGameInBasket", new { id = Model.Id }) |
    @Html.ActionLink("Отменить и обратно к списку", "Index")
</p>
